<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hanbongul</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="hangul.min.js"></script>
  <script src="hanbongul.js"></script>

  <style>
    #wrapper {
      max-width: 520px;
      margin: 0 auto;
    }
    textarea {
      background-color: #484848;
      color: #ddd;
      font-size: 20px;
      font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "IPA Pゴシック","IPA PGothic", sans-serif;
      line-height: 1;
    }
  </style>
</head>
<body>

<div id="wrapper">
  <h1>hanbongul</h1>
  <textarea cols="45" rows="3" v-model="hangul"></textarea>
  <br>
  <textarea cols="45" rows="3" v-model="hanbongul"></textarea>

  <pre>
{{ JSON.stringify(dic, null, 3) }}
  </pre>
</div>

</body>
<script>

  new Vue({
    el: '#wrapper',
    data: {
      hangul: '바나나가 마시다니',
    },
    computed: {
      hanbongul() {
        return hanbongulize(this.hangul)
      }
    }
  })

</script>
</html>
