<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hanbongul</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="hanbongul.js"></script>

  <style>
    #wrapper {
      max-width: 520px;
      margin: 0 auto;
    }
    textarea {
      background-color: #484848;
      color: #ddd;
      font-size: 20px;
      font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "IPA Pゴシック","IPA PGothic", sans-serif;
      line-height: 1;
    }
  </style>
</head>
<body>

<div id="wrapper">
  <h1>한본글</h1>
  <textarea cols="45" rows="3" v-model="input"></textarea>
  <br>
  <textarea cols="45" rows="3" v-model="output"></textarea>
  <br><br>
  <a href="https://github.com/nupamore/hanbongul/blob/master/src/widthMap.js">2017/6/22 글자길이 계산 구현</a>
</div>

</body>
<script>

  new Vue({
    el: '#wrapper',
    data: {
      input: '흐응~ 당신이 내 프로듀서?',
    },
    computed: {
      output() {
        return hanbongulize(this.input)
      }
    }
  })

</script>
</html>
